[Unit]
Description=Run BPB autoscan every 6 hours

[Timer]
OnBootSec=3min
OnUnitActiveSec=6h
AccuracySec=1min
Persistent=true
Unit=bpb-autoscan.service

[Install]
WantedBy=timers.target
